<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- xml 中設定 profile -->
	<!-- 这个配置一定要单独放一个spring文件，然后在applicationContext.xml(或者其他的主入口文件)里import进来，如果你混淆做，就会报错:
		发现了以元素 'bean' 开头的无效内容。应以 '{"http://www.springframework.org/schema/beans:beans} -->
	<!-- https://www.hellojava.com/article/162 -->
	<import resource="classpath:/spring-datasource.xml"/>

<!-- 想使用@PersistenceContext注解，就必须声明PersistenceAnnotationBeanPostProcessor的Bean( 似乎已經整合在 component-scan 標籤中, http://blog.51cto.com/mushiqianmeng/723880) -->
<!-- <bean id="persistenceAnnotationBeanPostProcessor" class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/> -->
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" scope="singleton">
		<property name="dataSource" ref="ds"></property>
		<property name="persistenceUnitName" value="myPersistenceUnit"/>
	</bean>
	
	<bean id="gson" class="com.google.gson.Gson"/>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" p:entityManagerFactory-ref="entityManagerFactory"/>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<context:annotation-config/>
	<context:component-scan base-package="com.ctbc.model.dao"/>
	
</beans>


